@mixin mq($breakpoint: m) {
    @media screen and (max-width: map-get($mq-breakpoints, $breakpoint)) {
        @content;
    }
}

@mixin flex($j: normal, $a: normal) {
    display: flex;
    justify-content: $j;
    align-items: $a;
    flex-wrap: wrap;

    @content;
}

@mixin fz($size: m) {
    font-size: map-get($fz, $size);
}

@mixin fw($weight: m) {
    font-weight: map-get($fw, $weight);
}