// OEM Colors
$oem1color: #003170;

$mq-breakpoints: (
    xl: 1200px,
    l: 960px,
    m: 600px,
    s: 320px
);

$secondary4: #271B5A;

$fz: (
    xl: 2.5rem,
    l: 2rem,
    m: 1.5rem,
    s: 1rem
);

$fw: (
    bold: 700,
    normal: 400,
    light: 300
);

$primary: #FFC700;
$primary-blue: rgba(25, 155, 207, 1);
$primary-green: rgba(142, 193, 28, 1);
